/vendor/
.env
# Ignore everything in storage except required subdirectories
/storage/*
!/storage/app
!/storage/framework
!/storage/framework/cache
!/storage/framework/sessions
!/storage/framework/views
!/storage/logs