/vendor/
node_modules/
npm-debug.log
yarn-error.log
.env
.env.*
/public/storage
/storage/*.key
/storage/framework/*
/storage/logs/*
.idea/
.vscode/
.DS_Store
Thumbs.db
*.bak
*.tmp
*.swp
*.swo
/.phpunit.result.cache
Homestead.yaml
Homestead.json
